
table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th{
    background-color: #10a312;
    text-align: center;
}

tr{
    text-align: right;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:hover {background-color: #D6EEEE;}